# Backend
backend/target/
backend/.mvn/
!backend/.mvn/wrapper/maven-wrapper.jar
backend/src/main/resources/application.yml
backend/*.log

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.env.local

# IDE
.idea/
.vscode/
*.iml
.DS_Store

# Env
.env
